@import url('https://fonts.googleapis.com/css?family=Bangers|Oswald:400,600|Roboto:300&display=swap&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;

$color-tag-1: #27ae60;
$color-tag-2: #27ae60;
$color-tag-3: #2980b9;
$color-tag-4: #9b59b6;
$color-tag-5: #e74c3c;

$font-logo: 'Bangers', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Roboto', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  color: $color-light;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

.list.tags a {
  text-decoration: none;
  font-weight: bold;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;

  p {
    margin: 0 10px 0 0;
  }
}

/* Tag sizes */
.tag-size-1 {
  font-size: 100%;
  color: $color-tag-1;
}

.tag-size-2 {
  font-size: 120%;
  color: $color-tag-2;
}

.tag-size-3 {
  font-size: 140%;
  color: $color-tag-3;
}

.tag-size-4 {
  font-size: 160%;
  color: $color-tag-4;
}

.tag-size-5 {
  font-size: 180%;
  color: $color-tag-5;
}
